[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pydantic = "==1.10.11"
fastapi = "==0.99.1"
casbin = "*"
passlib = "*"
uvicorn = "*"
python-jose = "*"
python-multipart = "*"
tortoise-orm = {extras = ["asyncmy"], version = "*"}
cryptography = "*"
apscheduler = "*"
pytz-deprecation-shim = "*"
aerich = "*"
casbin-tortoise-adapter = "*"
gunicorn = "*"
aioredis = "*"
hiredis = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
openpyxl = "*"
aiofiles = "*"
pyyaml = "*"
loguru = "*"
win32-setctime = "*"
asynccasbin = "*"
aiohttp = {extras = ["speedups"], version = "*"}
pytest = "*"

[dev-packages]
black = "*"
pyjwt = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn main:app --reload --host 0.0.0.0 --port 4000"
pro = "uvicorn main:app --host 0.0.0.0 --port 80"
aerich_init = "aerich init -t src.db.settings.TORTOISE_ORM"
init_db = "aerich init-db"
migrate_db = "aerich migrate"
upgrade_db = "aerich upgrade"
