[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pydantic = "*"
fastapi = "*"
casbin = "*"
passlib = "*"
uvicorn = "*"
python-jose = "*"
python-multipart = "*"
tortoise-orm = {extras = ["asyncmy"], version = "*"}
cryptography = "*"
apscheduler = "*"
pytz-deprecation-shim = "*"
aerich = "*"
casbin-tortoise-adapter = "*"


[dev-packages]
black = "*"
pyjwt = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "uvicorn main:app --reload --host 0.0.0.0 --port 4000"
aerich_init = "aerich init -t src.db.settings.TORTOISE_ORM"
init_db = "aerich init-db"
migrate_db = "aerich migrate"
upgrade_db = "aerich upgrade"
